body {
          font-family:'Open Sans', sans-serif;
    font-size:14px;
    background-image:url(../image/cool.jpg);
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Open Sans', sans-serif;
}

h1 {
    line-height:50px;
    font-weight:900;
    font-size:40px;
    padding:50px 20px 5px 20px;
    text-transform:uppercase;
    color:rgba(0, 121, 138, 1);
}


.pad-adjust {
    padding-top: 5px; 
    padding-bottom: 5px;
}

.text-center {
    text-align:center;
}

h2 {
    line-height:50px;
}
h3 {
    line-height:30px;
    padding-bottom:20px;
}
h4 {
   padding-top: 25px;
line-height: 40px;
padding-bottom: 0px;
font-size: 22px;
font-weight: 900;
}

p {
    font-weight:300;
    line-height:30px;
    padding-bottom:15px;
}

.space-free {
    height:100px;
}

.g-pad-bottom {
    padding-bottom:40px;
}

section {
    padding-top:20px;
    margin-top:50px;
}

.c-blue {
   background-color:rgba(0, 121, 138, 1);
   color:#fff;
}
.form-control {
        background-color: rgba(255, 255, 255, 0);
}
head-btn-one {
    background-color: rgba(252, 64, 101, 1);
     border: 0px solid #fff;

}
#home-sec {
    background-color:rgba(0, 121, 138, 1);
}
#home {
    padding-top:130px;
    padding-bottom:200px;
    color:#fff;
}
.head-main {
    font-size:80px ;
    font-weight:900;
    
}
.head-sub-main {
    font-size:40px ;
    font-weight:600;
    padding:5px 20px 10px 20px;
}
.head-last {
    font-size:20px ;
    font-weight:300;
    padding:5px 20px 20px 20px;
}

.btn-lg, .btn-group-lg > .btn {
border-radius: 0px; 

}


.section{
  padding: 15% 5% 40% 5%;
  padding-top: 100px;
  margin:-15px;
}


